<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"><h5 class="title">Edit Profile</h5></div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onSave(f)">
            <div class="row">
              <div class="col-md-3 px-md-1">
                <div class="form-group">
                  <label> Username </label>
                  <input
                    class="form-control"
                    placeholder="Username"
                    type="text"
                    value=""
                    name="username"
                    ngModel
                  />
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class="form-control"
                    placeholder="mike@email.com"
                    type="email"
                    name="email"
                    ngModel
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> First Name </label>
                  <input
                    class="form-control"
                    placeholder="Company"
                    type="text"
                    value="Mike"
                    name="firstname"
                    ngModel
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label> Last Name </label>
                  <input
                    class="form-control"
                    placeholder="Last Name"
                    type="text"
                    value="Andrew"
                    name="lastname"
                    ngModel
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label> Address </label>
                  <input
                    class="form-control"
                    placeholder="Home Address"
                    type="text"
                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                    name="adress"
                    ngModel
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label> BestScore </label>
                  <input
                    class="form-control"
                    placeholder="BESTSCORE"
                    type="number"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label> My IP </label>
                  <textarea
                    class="form-control"
                    type="number"
                    [value]="myIp"
                    disabled
                  >
 {{ myIp }}</textarea
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-fill btn-success"
            type="submit"
            (click)="onSave(f.value)"
          >
            Save
          </button>
          <button
            class="btn btn-fill btn-danger"
            type="submit"
            style="float: right;"
          >
            Delete My Account
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text"></p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class="avatar" src="assets/img/pica.png" />

              <h5 class="title">Achraf L</h5>
            </a>
            <p class="description">Ceo - Founder</p>
          </div>
          <div class="card-description">
            Welcome to the ping pong game, hope you enjoy ! If you have
            questions or need to report a bug, contact me from the links bellow
            !
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button
              class="btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class="fab fa-facebook"> </i>
            </button>
            <button
              class="btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class="fab fa-twitter"> </i>
            </button>
            <button
              class="btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class="fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
