<div class="container" style="margin-top: 40px;">
  <div class="row">
    <div class="col-8">
      <p>Please use the Up & Down Arrows of the keyboard</p>

      <canvas
        style="
          border-left: 30px;
          border-radius: 3%;
          border: thick double #32a1ce;
        "
        #PongCanvas
        width="{{ width }}"
        height="{{ height }}"
      ></canvas>
      <div class="container" style="width: 800px;">
        <div class="row" style="width: 800px;">
          <div class="col-sm">
            <p style="float: left;">Player 1 : {{ getPlayerScore() }}</p>
          </div>
          <div class="col-sm">
            <button
              (click)="freeze()"
              style="width: 200px; margin-left: 20px;"
              (keydown.backspace)="freeze()"
            >
              freeze
              <i
                class="fa fa-long-arrow-right arrow1 fa fa-play"
                aria-hidden="true"
                [ngClass]="{
                  'fa fa-long-arrow-right arrow1 fas fa-pause':
                    gamePaused === true,
                  'fa fa-long-arrow-right  fa fa-play': gamePaused === false
                }"
              ></i>
            </button>
          </div>
          <div class="col-sm">
            <p style="float: right;">machine : {{ getEnnemiScore() }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4" style="margin-top: 200px;">
      <div class="col-6 col-sm-4" hidden>
        <button
          (mouseenter)="buttonUp()"
          style="width: 200px; margin-left: 20px;"
        >
          UP
          <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
        </button>
      </div>
      <br />

      <div class="col-6 col-sm-4" hidden>
        <button
          (mouseenter)="buttonDown()"
          style="width: 200px; margin-left: 20px;"
        >
          DOWN
          <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
        </button>
      </div>
      <div style="height: 100px;"></div>
      <div style="margin-left: 40px;">
        <p>My Best Score :</p>
        <p>Word Score :</p>
      </div>
    </div>
  </div>
</div>
